<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button>
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Intercambio TingSoluciones!</span>
    </mat-toolbar>
      <mat-horizontal-stepper [linear]="isLinear" #stepper *ngIf="config.showForm">
        <mat-step [stepControl]="emailForm">
          <ng-template matStepLabel>Ingresa tus datos!</ng-template>
          <form [formGroup]="emailForm" (ngSubmit)="onSubmit()" *ngIf="assignedPapers.length === 0">
            <mat-form-field>
                <input matInput type="phone" formControlName="phone" placeholder="Celular" />
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" formControlName="password" placeholder="Contraseña" />
            </mat-form-field>
              <div class="form-group">
                <button [disabled]="loading" matStepperNext mat-raised-button color="primary">Dame mi papelito!</button>
              </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Papelito</ng-template>
          <ul>
            <li *ngFor="let paper of assignedPapers">{{ paper.name }}</li>
          </ul>
        </mat-step>
      </mat-horizontal-stepper>
      <mat-tab-group>
        <mat-tab label="Participantes ({{people.length}})">
            <mat-card>
                <mat-card-content>
                  <mat-list role="list">
                      <mat-list-item role="listitem" *ngFor="let person of people">
                        {{ person.name }} <a *ngIf="person.facebook" href="{{person.facebook }}" target="_blank" mat-button color="accent">Stalkear</a>
                      </mat-list-item>
                  </mat-list>
                </mat-card-content>
            </mat-card>
        </mat-tab>
        <mat-tab label="¿Cómo va la cosa?">
            <mat-card>
                <mat-card-content>
                  <article>
                    <h4>Los retos para la posada son los siguientes:</h4>
                  </article>
                  <mat-list role="list">
                      <mat-list-item role="listitem" *ngFor="let challeger of challegers">
                        {{ challeger.personName}} - {{ challeger.paper}}
                      </mat-list-item>
                  </mat-list>
                </mat-card-content>
            </mat-card>
        </mat-tab>
        <mat-tab label="¿Quién falta de papelito?">
            <mat-card>
                <mat-card-content>
                  <article>
                    <h4>Personas antisociales, en contra de una democracia participativa:</h4>
                  </article>
                  <mat-list role="list">
                      <mat-list-item role="listitem" *ngFor="let paper of notPaper">
                        {{ paper.name}}
                      </mat-list-item>
                  </mat-list>
                  <img src="https://www.telemundo.com/sites/nbcutelemundo/files/styles/large/public/screen_shot_2018-07-01_at_10.15.15_pm.png?itok=_1Xe88SJ" alt="che Jesus">
                </mat-card-content>
            </mat-card>
      </mat-tab>
      </mat-tab-group>
  </mat-sidenav-content>
</mat-sidenav-container>
