.sidenav-container {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
 
  }

  .form-contaniner {
    display: flex;
    flex-direction: column;
  }
  
  .form-contaniner> * {
    width: 100%;
  }
  
  .sidenav {
    width: 200px;
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
  }
